html, body {
	background: #eaf2f5;
	margin: 0;
	padding: 0;
}
body {
	/font-size: 105%;
}
code {
	/font-size: 85%;
	/font-family: 'Lucida Console';
}
div.body {
	background: white;
	margin: 1em 10%;
	padding: 0 1em;
	border: 1px solid #bedce7;
}
a:link, a:visited {
	color: #4183ca;
}
h1 {
	margin: .5em 0;
}
h2, p, ul, ol, li, pre, hr {
	margin-top: .8em;
	margin-bottom: .8em;
}
hr {
	/margin: 0;
}
em {
	color: #555;
}
p.menu {
	font-family: sans-serif;
	font-size: 90%;
}
p.footer {
	font-size: 90%;
}
div.demo {
	border: 1px solid #555;
	margin: 1em auto;
	width: 550px;
}
#box1, #box2, #box3 {
	width: 100px;
	height: 100px;
	position: relative;
}
#box1 {
	background: #0C0;
}
#box2 {
	background: #090;
}
#box3 {
	background: #060;
}
hr {
	border: none;
	color: #bedce7;
	background-color: #bedce7;
	height: 1px;
}
p {
	text-align: justify;
}
